<div class="header">
  <div class="logo">Task i18n</div>

  <nav class="nav">
    <ul>
      <li>{{ 'menu.home' | t }}</li>
      <li>{{ 'menu.about' | t }}</li>
      <li>{{ 'menu.contact' | t }}</li>
    </ul>
  </nav>

  <p-select [options]="languages" [(ngModel)]="selectedLanguage" optionLabel="label" optionValue="code"
    (onChange)="changeLanguage($event.value)" placeholder="Select language">
  </p-select>
</div>

<div class="container" *ngIf="!loading; else loadingTpl">
  <h1 class="prof-title">{{ 'profile.title' | t }}</h1>

  <h1>{{ 'common.hello' | t:{ name: 'Azizbek' } }}</h1>

  <form>
    <label>{{ 'form.username.label' | t }}</label>
    <input type="text" placeholder="{{ 'form.username.placeholder' | t }}">

    <label>{{ 'form.password.label' | t }}</label>
    <input type="password" placeholder="{{ 'form.password.placeholder' | t }}">

    <button type="submit">{{ 'form.submit' | t }}</button>
  </form>

  <select class="select-gender" [(ngModel)]="selectedGender" (change)="changeGender(selectedGender)">
    <option *ngFor="let g of genders" [value]="g.code">
      {{ g.label | t}}
    </option>
  </select>

  <p>{{ 'profile.online' | t:{ gender: (genderKey | t) } }}</p>

<p>{{ 'notifications.zero' | t }}</p>
<p>{{ 'notifications.one' | t:{ count: 1 } }}</p>
<p>{{ 'notifications.many' | t:{ count: 5 } }}</p>


</div>
<ng-template #loadingTpl>
  <div class="card-skeleton">
    <div class="skeleton title"></div>
    <div class="skeleton text"></div>
    <div class="skeleton text"></div>
    <div class="skeleton input"></div>
    <div class="skeleton input"></div>
    <div class="skeleton button"></div>
  </div>
</ng-template>